/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@-webkit-keyframes letterspacing {
  0% {
    letter-spacing: 1rem;
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
  }
  2% {
    opacity: 1;
  }
  16% {
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  29% {
    opacity: 1;
  }
  57% {
    letter-spacing: -5rem;
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes letterspacing {
  0% {
    letter-spacing: 1rem;
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
  }
  2% {
    opacity: 1;
  }
  16% {
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  29% {
    opacity: 1;
  }
  57% {
    letter-spacing: -5rem;
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes letterspacing2 {
  0% {
    opacity: 0;
  }
  25% {
    letter-spacing: -5rem;
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  49% {
    letter-spacing: 1rem;
  }
  64% {
    opacity: 1;
  }
  72% {
    letter-spacing: -5rem;
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes letterspacing2 {
  0% {
    opacity: 0;
  }
  25% {
    letter-spacing: -5rem;
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  49% {
    letter-spacing: 1rem;
  }
  64% {
    opacity: 1;
  }
  72% {
    letter-spacing: -5rem;
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes letterspacing3 {
  0% {
    opacity: 0;
  }
  62% {
    letter-spacing: -5rem;
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  87% {
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  96% {
    opacity: 1;
  }
  100% {
    letter-spacing: 1rem;
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
    opacity: 0;
  }
}

@keyframes letterspacing3 {
  0% {
    opacity: 0;
  }
  62% {
    letter-spacing: -5rem;
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  87% {
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  96% {
    opacity: 1;
  }
  100% {
    letter-spacing: 1rem;
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
    opacity: 0;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading__primary {
  color: white;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  display: block;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 75em) {
  .row {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

@media only screen and (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.row .col-1-of-5 {
  width: calc((100% - 4 * 6rem) / 5);
}

.row .col-2-of-5 {
  width: calc( 2 * ((100% - 4 * 6rem) / 5) + 6rem);
}

.row .col-3-of-5 {
  width: calc( 3 * ((100% - 4 * 6rem) / 5) + 2 * 6rem);
}

.text-row {
  max-width: 80rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (max-width: 56.25em) {
  .text-row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}

.header__home {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 2em;
  -webkit-filter: contrast(40);
          filter: contrast(40);
  background-color: black;
  overflow: hidden;
}

.header__home--p {
  color: white;
  font-size: 8rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  -webkit-filter: blur(0.2rem);
          filter: blur(0.2rem);
  display: block;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
}

.heading--animated {
  -webkit-filter: blur(0.2rem);
          filter: blur(0.2rem);
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.animation--text--1 {
  -webkit-animation: letterspacing 30s both infinite cubic-bezier(0.6, 0, 0, 1);
          animation: letterspacing 30s both infinite cubic-bezier(0.6, 0, 0, 1);
}

.animation--text--2 {
  -webkit-animation: letterspacing2 30s both infinite cubic-bezier(0.6, 0, 0, 1);
          animation: letterspacing2 30s both infinite cubic-bezier(0.6, 0, 0, 1);
  opacity: 0;
}

.animation--text--3 {
  -webkit-animation: letterspacing3 30s both infinite cubic-bezier(0.6, 0, 0, 1);
          animation: letterspacing3 30s both infinite cubic-bezier(0.6, 0, 0, 1);
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */