@keyframes letterspacing {
  0% {
    letter-spacing: 1rem;
    filter: blur(1.5rem);
  }
  2% {
    opacity: 1;
  }

  16% {
    filter: blur(0.5rem);
  }

  29% {
    opacity: 1;
  }
  57% {
    letter-spacing: -4rem;
    filter: blur(1.5rem);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes letterspacing2 {
  0% {
    opacity: 0;
  }

  25% {
    letter-spacing: -5rem;
    filter: blur(0.5rem);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }

  40% {
    filter: blur(0.5rem);
  }

  49% {
    letter-spacing: 1rem;
  }

  64% {
    opacity: 1;
  }

  72% {
    letter-spacing: -5rem;
    filter: blur(0.5rem);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes letterspacing3 {
  0% {
    opacity: 0;
  }
  62% {
    letter-spacing: -5rem;
    filter: blur(1.5rem);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }

  87% {
    filter: blur(0.5rem);
  }

  96% {
    opacity: 1;
  }
  100% {
    letter-spacing: 1rem;
    filter: blur(1.5rem);
    opacity: 0;
  }
}

@keyframes arrow-top {
  0% {
    font-size: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(50%);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes fade-in-bot {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-left {
  0% {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    visibility: hidden;
    transform: translateX(-200%);
    opacity: 0;
  }
}

@keyframes fade-out-right {
  0% {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    visibility: hidden;
    transform: translateX(100%);
    opacity: 0;
  }
}
