body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black;
}
.heading__primary {
  color: white;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  display: block;
}

.heading__secondary {
  font-size: 10.5rem;
  color: #272727;
  line-height: 11rem;
  letter-spacing: 0.7rem;
  margin-bottom: 4rem;
}
