body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark-3;
}

.heading__primary {
  color: white;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  display: block;
}

.heading__secondary {
  font-size: 10.5rem;
  line-height: 11rem;
  letter-spacing: 0.7rem;
  margin-bottom: 4rem;
}

.heading__tertiary {
  font-size: 7rem;
  line-height: 8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 4rem;
}

.heading__quaternary {
  display: block;
  font-size: 3rem;
  font-weight: 300;
  line-height: 8rem;
  letter-spacing: 0.1rem;
}

.paragraph {
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
}
