.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-right-big {
  margin-right: 2rem !important;
}

.u-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.u-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-text {
  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--justify {
    text-align: justify;
  }
}

.u-text__red {
  color: $color-secondary;
}

.u-text__lighter {
  font-weight: 400;
}

.u-menu__black {
  background-color: black;
}

.u-border-bottom-black {
  border-bottom: 2px solid $color-primary !important;
}

.u-para-width {
  max-width: 50%;
  @include respond(phone) {
    max-width: 100%;
  }
}
