.btn {

    border-radius: 30px;
    padding: 10px 20px;
    font-size: 13px;
    transition: ease-in-out 0.5s;
}

.btn--red {
    background-color: $color-secondary-dark;
    border: 1px solid $color-secondary-dark;
    color: white;

    &:hover {
        background-color: white;
        color: $color-grey-dark;
        border: 1px solid $color-grey-dark;
    }
}

.btn--white {
    background-color: white;
    border: 1px solid $color-grey-dark;
    color: $color-grey-dark;

    &:hover {
        background-color: $color-secondary-dark;
        color: white;
        border: 1px solid $color-secondary-dark;
    }
}