:root {
  --vertical-long: 400px;
  --vertical-short: 200px;
  --horizontal-long: 400px;
  --horizontal-short: 200px;
  --inner1: 30px;
  --inner2: 10px;
  --inner3: 7px;
  --inner4: 7px;
}

.page-aboutus {
  .menu-icon__line {
    background-color: black;
  }
  .contact--right a {
    color: black;
  }

  .section__cite {
    width: 100vw;
    min-height: 90vh;
    background-image: linear-gradient(
        to top,
        rgba(255, 119, 48, 0.8),
        rgba(255, 119, 48, 0.8)
      ),
      url(../../assets/images/website.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &--text {
      width: 50%;
      margin: auto;
      color: white;

      &--txt {
        line-height: 5rem;
        position: relative;
      }

      &--underline {
        height: 0.2rem;
        width: 10%;
        background-color: white;
        border: none;
        border-radius: 1rem;
      }

      &--author {
        font-style: italic;
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 0.3rem;
      }

      &--icon {
        position: absolute;
        top: -70px;
        left: -180px;
        font-size: 14rem;
      }

      @include respond(tab-port) {
        width: 80%;

        &--icon {
          top: -80px;
          left: -50px;
          font-size: 8rem;
        }
      }

      @include respond(phone) {
        width: 100%;

        &--icon {
          top: -50px;
          left: 0px;
          font-size: 6rem;
        }
      }
    }
  }

  .section__gallery {
    &--img {
      width: 100%;
      height: auto;
    }

    &--name {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 0.3rem;
    }

    &--workplace {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: $color-primary-light;
    }
  }

  .section__colaboration {
    padding: 2rem 0;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: '';
      height: 100%;
      width: 1px;
      background: $color-secondary;
      left: 50%;
      top: 0;
      transform: translateX(-50%, -50%);

      @include respond(tab-port) {
        top: 50%;
        left: 20%;
        height: 1px;
        width: 60%;
        margin: 0 auto;
        transform: translateX(-50%, -50%);
      }
    }

    &--col {
      white-space: nowrap;
      padding: 4rem;
    }

    &--name {
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
    }

    &--button {
      text-transform: uppercase;
    }
  }

  .container {
    height: 450px;
    position: relative;
  }

  .card {
    position: relative;
    width: var(--vertical-long);
    height: var(--horizontal-short);
    background-color: #ff7730;
    box-shadow: 3rem 0.5rem 4.5rem rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    animation: 8s ease-in-out infinite card1;
  }

  .card-inner1 {
    background-color: #fff;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    animation: 8s ease-in-out infinite inner1;
  }

  .card-inner2 {
    background-color: #fff;
    position: absolute;
    opacity: 1;
    width: var(--inner2);
    height: var(--inner2);
    bottom: 31%;
    left: 5%;
    border-radius: 50%;
    animation: 8s ease-in-out infinite inner2;
  }

  .card-inner3 {
    background-color: #fff;
    position: absolute;
    opacity: 0%;
    width: var(--inner3);
    height: var(--inner3);
    bottom: 25%;
    left: 5%;
    border-radius: 50%;
    animation: 8s ease-in-out infinite inner3;
  }

  .card-inner4 {
    background-color: #fff;
    position: absolute;
    opacity: 0%;
    width: var(--inner4);
    height: var(--inner4);
    bottom: 20%;
    left: 5%;
    border-radius: 50%;
    animation: 8s ease-in-out infinite inner4;
  }
}
