.page-contact {
  background-color: $color-primary-light;
  .section__form {
    display: flex;
    flex-direction: row;
    @include respond(tab-port) {
      flex-direction: column;
    }
    & a {
      color: $color-primary;
    }
    & h1 {
      font-size: 4.5rem;
      margin-bottom: 1rem;
      text-transform: none;
      color: $color-primary;
      opacity: 0;
      animation: fade-in-top 1s ease-in-out 0.1s both;
    }
    & h2 {
      font-size: 3rem;
      color: $color-tertiary-light;
      &::before {
        content: '';
        display: block;
        width: 8rem;
        height: 2px;
        background-color: $color-secondary;
        margin-bottom: 2rem;
      }
      @include respond(tab-port) {
        font-size: 4rem;
      }
    }
    .para__form {
      opacity: 0;
      animation: fade-in-top 1s ease-in-out 0.1s both;
      margin-bottom: 5rem;
    }
    &--left {
      min-height: 100vh;
      width: 70%;
      padding: 4rem 0;
      background-color: $color-tertiary-light;
      overflow-x: hidden;
      @include respond(tab-port) {
        width: 100%;
        overflow-x: visible;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &--right {
      min-height: 100vh;
      width: 30%;
      padding: 4rem 0;
      @include respond(tab-port) {
        width: 100%;
        min-height: 10vh;
      }
    }
    & .form__container {
      width: 80%;
      margin: 0 auto;
      &--logo {
        margin-bottom: 5rem;
        font-size: 4rem;
        color: black;
        animation: fade-in-top 1s ease-in-out both;
      }
      &--right {
        margin-top: 6rem;
        @include respond(big-desktop) {
          margin-top: 2rem;
        }
      }
    }
  }
  .form__field {
    &--step-2 {
      display: none;
      .form__next--steps {
        @include respond(phone) {
          margin-right: 0;
        }
      }
    }
    &--step-3 {
      display: none;
      .form__next--steps {
        @include respond(phone) {
          margin-right: 0;
        }
      }
    }
    &--list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    &--element {
      -webkit-box-flex: 1;
      -ms-flex: 1 50%;
      flex: 1 50%;
      padding: 10px;
      margin-left: -10px;
      @include respond(tab-port) {
        -webkit-box-flex: 1;
        -ms-flex: 1 100%;
        flex: 1 100%;
      }
      &:nth-of-type(1) {
        opacity: 0;
        animation: fade-in-top 1s ease-in-out 0.2s both;
      }
      &:nth-of-type(2) {
        opacity: 0;
        animation: fade-in-top 1s ease-in-out 0.2s both;
      }
      &:nth-of-type(3) {
        opacity: 0;
        animation: fade-in-top 1s ease-in-out 0.3s both;
      }
      &:nth-of-type(4) {
        opacity: 0;
        animation: fade-in-top 1s ease-in-out 0.3s both;
      }
      &:nth-of-type(5) {
        opacity: 0;
        animation: fade-in-top 1s ease-in-out 0.4s both;
      }
      &:nth-of-type(6) {
        opacity: 0;
        animation: fade-in-top 1s ease-in-out 0.4s both;
      }
    }
    &--check-label {
      display: block;
      width: 100%;
      cursor: pointer;
      position: relative;
      & .checkmark-icon {
        display: none;
        position: absolute;
        right: 3rem;
        top: 50%;
        font-size: 2.8rem;
        color: $color-secondary;
        transform: translate(50%, -50%);
      }
    }
    &--checkbox {
      position: absolute;
      top: 10px;
      left: 5px;
      z-index: -1;
      width: auto !important;
      opacity: 0;
      visibility: hidden;
      margin: 0;
      &:checked ~ .form__field--span {
        background: $color-tertiary-dark;
      }
      &:checked ~ .checkmark-icon {
        display: block;
      }
    }
    // Page 2
    &--label {
      display: block;
      font-size: 1.6rem;
      margin-bottom: 1rem;
      @include respond(tab-port) {
        font-size: 2rem;
      }
    }
    &--input,
    &--select,
    &--span {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      font-weight: 500;
      font-size: 1.8rem;
      display: block;
      width: 100%;
      border: 1px solid $color-primary-light;
      padding: 1.5rem 2rem;
      margin: 0;
      border-radius: 5px;
      -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
      background: $color-tertiary-light;
      cursor: pointer;
      outline: none;
      @include respond(tab-port) {
        font-size: 2rem;
      }
      &:focus {
        border: 1px solid $color-secondary;
      }
      &:hover {
        border: 1px solid $color-secondary;
      }
    }
    &--area {
      width: 100%;
      height: 18rem;
      outline: none;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 1.5rem;
      background-color: $color-tertiary-light;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:focus {
        border: 1px solid $color-secondary;
      }
      &:hover {
        border: 1px solid $color-secondary;
      }
    }
    &--input {
      cursor: text;
    }
    &--select {
      appearance: none;
    }
    &--error {
      margin-top: 1rem;
      font-size: 1.5rem;
      color: red;
      animation: fade-in-bot 0.4s ease-out both;
      display: none;
    }
  }
  .form__next {
    position: relative;
    margin-top: 8rem;
    opacity: 0;
    animation: fade-in-top 1s ease-in-out 0.5s both;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
    @include respond(phone) {
      flex-wrap: wrap;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-primary-light;
    }
    &--back {
      font-size: 1.5rem;
      display: flex;
      font-weight: 400;
      position: absolute;
      left: 0;
      align-items: center;
      cursor: pointer;
      @include respond(phone) {
        position: relative;
        float: left;
        flex: 1 50%;
      }
      & .icon-arrow {
        margin-right: 1rem;
        font-size: 1.8rem;
      }
    }
    &--steps {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 4rem;
    }
    & button {
      font-size: 2rem;
      padding: 1rem 3rem;
      text-transform: uppercase;
    }
  }
  .form__box {
    position: relative;
    width: 100%;
  }
  .icon__box {
    position: relative;
    & .select-icon {
      position: absolute;
      top: 55%;
      right: 2rem;
      font-size: 1.4rem;
      transform: translate(50%, -50%);
    }
  }
  .container__right {
    @include respond(tab-port) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
    }
    & h3 {
      font-size: 2.2rem;
      margin-bottom: 1rem;
      color: $color-tertiary-light;
      @include respond(tab-port) {
        font-size: 3rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
      }
    }
    & h4 {
      font-size: 1.8rem;
      color: $color-secondary;
      @include respond(tab-port) {
        font-size: 2.2rem;
      }
    }
    & span {
      display: block;
      font-size: 1.6rem;
      margin: 1rem 0;
      color: $color-tertiary-dark;
      @include respond(tab-port) {
        font-size: 2rem;
      }
    }
  }
  #form-send,
  #form-next-2 {
    margin-top: 1rem;
  }
}
