//HEADER

.header__home {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 2em;
  filter: contrast(40);
  background-color: black;
  overflow: hidden;

  &--p {
    color: white;
    font-size: 7rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    filter: blur(0.2rem);
    display: block;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
  }
}

.heading--animated {
  filter: blur(0.2rem);
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.animation--text {
  &--1 {
    animation: letterspacing 30s both infinite cubic-bezier(0.6, 0, 0, 1);
  }

  &--2 {
    animation: letterspacing2 30s both infinite cubic-bezier(0.6, 0, 0, 1);
    opacity: 0;
  }

  &--3 {
    animation: letterspacing3 30s both infinite cubic-bezier(0.6, 0, 0, 1);
    opacity: 0;
  }
}

.btn--header {
  display: block;
  color: white;
  background-color: transparent;
  font-size: 2.5rem;
  border: 3px solid white;
  padding: 0.5rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1000000;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.sec {
  height: 100vh;
  background-color: white;
}

// SECTION ABOUT

.section__about {
  min-height: 100vh;

  &--paragraph {
    max-width: 85%;
  }
}

.section__services--expertise {
  max-height: 70vh;
}

.section__services {
  &--heading {
    line-height: 4rem;
  }

  &--column {
    width: 350px;

    &--heading {
      height: 500px;
      writing-mode: tb-rl;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      &--text {
        transform: rotate(180deg);
        text-align: left;
        line-height: 2rem;
        text-transform: capitalize;
      }
    }

    &--img {
      padding-top: 10rem;
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
}