//HEADER

.header__home {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 2em;
  filter: contrast(40);
  background-color: black;
  overflow: hidden;

  &--p {
    color: white;
    font-size: 7rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    filter: blur(0.2rem);
    display: block;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate3d(-50%, -50%, 0);
    overflow: hidden;

    @include respond(tab-land) {
      width: 90%;
    }
  }
}

.heading--animated {
  filter: blur(0.2rem);
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  @include respond(tab-land) {
    width: 90%;
    font-size: 7rem;
  }
}

.animation--text {
  &--1 {
    animation: letterspacing 30s both infinite cubic-bezier(0.6, 0, 0, 1);
  }

  &--2 {
    animation: letterspacing2 30s both infinite cubic-bezier(0.6, 0, 0, 1);
    opacity: 0;
  }

  &--3 {
    animation: letterspacing3 30s both infinite cubic-bezier(0.6, 0, 0, 1);
    opacity: 0;
  }
}

.btn--header {
  display: block;
  color: white;
  background-color: transparent;
  font-size: 2.5rem;
  border: 3px solid white;
  padding: 0.5rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1000000;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.sec {
  height: 100vh;
  background-color: white;
}

// SECTION ABOUT

.section__about {
  min-height: 100vh;

  &--paragraph {
    max-width: 85%;
  }
}

.box {
  @include respond(tab-port) {
    width: calc((100% - #{$gutter-horizontal}) / 2) !important;
  }

  @include respond(phone) {
    width: 100% !important;
  }
}

.section__services {
  padding: 10rem 0;

  &--heading {
    line-height: 4rem;
  }

  &--column {
    width: 100%;

    &--heading {
      height: 40rem;
      writing-mode: tb-rl;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      &--text {
        transform: rotate(180deg);
        text-align: left;
        line-height: 2rem;
        text-transform: capitalize;
      }
    }

    &--img {
      padding-top: 10rem;
      width: 100%;
      height: auto;
    }
  }
}

// section PORTFOLIO
.section__portfolio {
  background-color: white;

  &--text {
    &--pr {
      display: inline-block;
      max-width: 40%;
      font-size: 1.4rem;
      line-height: 2.8rem;
      letter-spacing: 0.1rem;
    }
  }
}

.section__portfolio--img {
  & img {
    width: 80%;
    height: auto;
    max-width: 100%;
  }
}