.section__portfolio{
background-color: white;
    &--text{
        padding: 3rem 0;
        &--pr{
            display: inline-block;
            margin-right: 3rem;
            font-size: 1.6rem;
            max-width: 45%;
            margin-bottom: 4rem;
        }
    }
}
