.page-portfolio {
  & h3 {
    color: $color-primary;
    margin-top: 4rem;
    @include respond(phone) {
      margin-top: 0;
    }
    & span {
      color: $color-secondary;
    }
  }
  .section__portfolio {
    @include respond(phone) {
      padding: 5rem 0;
    }
    &--filters {
      padding: 2rem 0;
      margin-bottom: 5rem;
      position: relative;
      & div {
        margin-right: 2rem;
        margin-bottom: 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    &--work{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    .work__element {
      margin-bottom: 4rem;
      flex: 1 40%;
      margin-right: 6rem;
      display: none;
      @include respond(tab-port){
        margin-right: 0;
        flex: 1 100%;
      }
      &--img {
        width: 100%;
        & img {
          width: 100%;
          box-shadow: 3rem 0.5rem 4.5rem rgba(0, 0, 0, 0.3);
          height: auto;
          transition: all 0.5s;
          &:hover {
            box-shadow: 3rem 0.5rem 4.5rem rgba(0, 0, 0, 0.2);
          }
        }
      }
      &--text {
        padding: 2rem 0;
        & span {
          display: block;
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 1.5rem;
        }
        & h4 {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

.show{
  display: block !important;
}